# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.JaeSteHueNol.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zoran\Documents\Git_repos_uni\AdvancedUnity\JaeSteHueNol\.idea\.idea.JaeSteHueNol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
